.navbar{
    background-color: white;
}
.collapse{
    margin-right: 90px;
}
.logo-index{
    width: 190px;
    padding: 1px 0;
    margin-left: 90px;
}
.icons-header{
    margin: 10px 5px;
    font-size: 26px;
    padding-left: 15px;
    color: rgba(36 39 83);
}
.manual{
    padding: 80px;
}
.d-block {
    width: 100%;
    height: 680px;
    object-fit: cover;
}
.img-fluid{
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
    width: 400px;
}
.text-banner{
    font-size: 24px;
    font-family: OpenSans-Italic;
}
.altura-img{
    padding: 6px 0;
}
.nav-link {
    color: rgba(222 112 43);
    font-size: 20px;
    padding-left: 25px !important;
    font-family: OpenSans-Italic;
}
.button-pys{
    border-radius: 5px;
    color: rgba(222 112 43);
    border: none;
    padding: 8px 8px;
    font-size: 16px;
}
.button-pys:hover{
    background-color: rgba(36 39 83) !important;
}
.nav-link:hover{
    color: rgba(36 39 83);
}
.nav-link:hover:focus{
    outline: none;
}
.titlepys{
    padding: 30px 0;
    font-size: 26px;
    font-family: Opensans-Italic;
    color: rgba(222 112 42);
}
/* form */
.form-control{
    font-size: 14px;
    padding: 15px;
    border-radius: 2px;
    color: black;
    height: auto;
}
.logo-form{
    width: 300px;
}
.text-pqr{
     font-size: 20px;
     margin-left: 15px;
     font-family: Opensans-Italic;
}
.form-control:focus{
    border: 1px solid black;
    outline: none;
    box-shadow: none;
}
.form-group{
    padding: 15px;
    font-family: Opensans-Italic;
}
.btn-dark{
    margin-left: 14px;
    margin-top: 14px;
    background-color: rgba(36 39 83);
}
.img-form{
    height: 400px;
}
.btn{
    background-color: rgba(36 39 83);
    margin-top: 25px;
    font-family: OpenSans-Italic;
}
.btn-destacos{
    background-color: rgba(36 39 83);
    margin-top: 25px;
    font-family: OpenSans-Italic;
}
.btn:hover{
    background-color: rgba(222 112 42);
}
.topmargin-sm{
    padding: 50px;
}

/* footer */

.bg-gray{
    background-color: rgb(36 39 83) ;
}
.text-para{
    color: white;
}
.title-n-e{
     font-family: OpenSans-Italic; 
     color: rgba(222 112 42);
     margin-top: -6px;
     font-style: 15px;
}
.text-foooter{
    color: white;
    font-size: 15px;
}
.py-6{
    padding-top: 1rem;
    padding-bottom: 6rem;
    margin-top: 8px;
}
.text-heading{
     color: rgba(222 112 42);
}
.icon-people{
    font-size: 25px;
    padding-right: 10px;
}
.list-unstyled{
    padding-left: 0;
    list-style: none;
    font-size: 14px;
}
.list-unstyled  a{
    text-decoration: none;
    color: white;
}
.list-unstyled  a:hover{
    text-decoration: underline;
    color: rgba(222 112 42);
}
.form-check-label{
    padding: 36px;
}
.mb-4-footer{
    color: black; 
}
.copy-right{
    color: black;
    text-align: center;
    font-size: 20px;
}
.icons-footer{
    font-size: 23px;
    padding-right: 10px ;
}
.certificados{
    width: 80px;
}
@media screen and (min-width:300px) {
    .icon-menu{
        font-size: 32px;
    }
    .collapse{
        color: rgb(0 0 0 0.23) !important;
    } 
}
